<button [routerLink]="['/jobs']">Back to jobs</button>
@if (job | async; as j) {
  <div class="job-details">
    <div class="header">
      <img [src]="j.companyLogo" alt="Company Logo">
      <div class="infos">
        <h1>{{ j.companyName }} - {{ j.title }}</h1>
        <div><small>{{ j.reference }}</small></div>
        <div>
          @for (tag of j.types; track tag) {
            <span class="tag">
            <span [innerHTML]="tag"></span>
          </span>
          }
        </div>
        <div>
          @for (tag of j.industries; track tag) {
            <span class="tag">
            <span [innerHTML]="tag"></span>
          </span>
          }
        </div>
        <div>{{ j.location }}</div>
        <div>{{ j.publishDate | date }}</div>
      </div>
    </div>
    <div [innerHTML]="j.description"></div>
  </div>
}
