div.item {
  display: flex;
  flex-direction: row;
  border-radius: var(--universal-border-radius);
  overflow: hidden;

  background: var(--button-back-color);

  img {
    width: 10rem;
    height: 10rem;
    border-radius: var(--universal-border-radius);
  }

  .infos {
    display: flex;
    flex-direction: column;
    margin-left: var(--universal-margin);
    width: 100%;


    h2 {
      margin: 0.5rem 0;

      a {
        line-height: normal;
      }
    }

    .reference {
      color: grey;
    }

  }

  .favorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--universal-padding);
    margin:0;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    cursor: pointer;

    transition: background ease-in-out 100ms;
    &:hover {
      background-color: var(--button-hover-back-color);
    }
  }
}




